<template name="categoryNav">
	<ul class="nav navbar-nav">
		{{# each categories}}
			{{#if placeholder }}
				<li class="logo-placeholder visible-md visible-lg">
					<a href=""></a>
				</li>
			{{else}}
				{{#if hasDropdown }}
					{{> categoryNavDropdown }}
				{{else}}
					{{> categoryLink }}
				{{/if}}
			{{/if}}
		{{/ each}}
	</ul>
</template>

<template name="categoryNavDropdown">
	<li class="dropdown {{#if active}}active{{/if}}">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			{{title}} <b class="caret"></b>
			{{>adminNavControls}}
			<span class="bottom-line"></span>
		</a>

		<ul class="dropdown-menu">
			{{#each categories}}
			{{> categoryLink }}
			{{/each}}
		</ul>
		<span class="arrow down">
			<span class="color"></span>
		</span>
	</li>
</template>

<template name="categoryLink">
	<li class="{{#if active}}active{{/if}}">
		<a href="{{pathFor 'category'}}">
		{{title}}
		{{>adminNavControls}}
		<span class="bottom-line"></span>
		</a>
	</li>
</template>

<template name="adminNavControls">
	{{#if renderAdmin}}
		<button class="btn btn-inverse add" title="Add subcategory"><span class="fa fa-plus"></span></button>
		<button class="btn btn-inverse edit" title="Edit category"><span class="fa fa-edit"></span></button>
		<button class="btn btn-inverse delete" title="Delete category"><span class="fa fa-trash-o"></span></button>
	{{/if}}
</template>