<template name="categoryNav">
	<ul class="nav navbar-nav">
	{{# each categories}}
		{{#if placeholder }}
			<li class="logo-placeholder visible-md">
			</li>
			<li class="logo-placeholder visible-lg">
			</li>
		{{else}}
			{{#if hasDropdown }}
				{{> categoryNavDropdown }}
			{{else}}
				{{> categoryLink }}
			{{/if}}
		{{/if}}
	{{/ each}}
	</ul>
</template>

<template name="categoryNavDropdown">
	<li class="dropdown {{#if active}}active{{/if}}">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{title}} <b class="caret"></b>
			</a>

		<!-- <div class="ffx-bug-wrapper"> -->
			<ul class="dropdown-menu">
				{{#each categories}}
					{{> categoryLink }}
				{{/each}}
			</ul>
		<!-- </div> -->
	</li>
</template>

<template name="categoryLink">
	<li class="{{#if active}}active{{/if}}">
		<a href="{{pathFor 'category'}}">{{title}}</a>
	</li>
</template>