@import "packages/bootstrap3-less/bootstrap.lessimport";

@grayBorder: #4d5148;
@grayBg: #0e1311;
@brownBg: #d6d2b8;
@orange: #d4a030;

@brand-primary: @orange;
@headings-color: @orange;
@text-color: #d6d2b8;
@link-color: @orange;

@navbar-inverse-bg: rgba(0,0,0,0);
@navbar-inverse-color: @text-color;
@navbar-default-link-color: @text-color;
@navbar-inverse-link-hover-color: @orange;


@import "base.lessimport";
@import "layout.lessimport";
@import "section.lessimport";
@import "post.lessimport";
@import "nav.lessimport";

