<template name="footer">
	<div class="row">
		<div class="col-md-4 main-partners">
			<p>
			{{ i18n 'footer.mainPartners'}}
			</p>
		</div>
		<div class="col-md-4 organized-by">
			<p>
			{{ i18n 'footer.organizedBy'}}
			</p>
			<p>
			<img src="/pix/ttd_logo.png" alt="Terra Transylvania Docta"/>
			</p>
			<p>
			{{ i18n 'footer.under'}}
			</p><p>
			{{ i18n 'footer.director'}}
			</p><p class="copyright">
			{{ i18n 'footer.copyright'}}
			</p><p>
			{{ i18n 'footer.brand'}}
			</p>
		</div>
		<div class="col-md-4 media-partners">
			<p>
			{{ i18n 'footer.mediaPartners'}}
			</p>
		</div>

	</div>
</template>
