<template name="post">
	<div class="col-md-6 post">
		<div class="row">
			<div class="col-md-6 image-wrapper">
				<div class="thumbnail">
					<div class="image" style="background-image: url({{image}})">
						<div class="arrow right visible-md visible-lg">
							<div class="color"></div>
						</div>
						<div class="arrow down visible-xs visible-sm">
							<div class="color"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 content">
				<div class="thumbnail">
					<h4 class="title">{{title}}</h4>
					<div class="description">
						{{description}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>