<template name="sections">
	{{#with category}}
		{{#each categories}}
		<div class="section clearfix">
			<div class="col-md-3">
				<h3 class="title">
					{{title}} 
					<button class="btn btn-inverse edit"><span class="fa fa-edit"></span></button>
					<button class="btn btn-inverse delete"><span class="fa fa-trash-o"></span></button>
				</h3>
			</div>
			<div class="clearfix"></div>
			{{#if summary}}
				{{> postSummaries posts}}
			{{else}}
				{{> posts posts}}
			{{/if}}
			{{> postAdd}}
		</div>
		{{/each}}
	{{/with}}
</template>